body, html {
    height: 100%;
    margin: 0;
}

header {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #011627;
    color: #F7F5FB;
    padding: 10px 0 10px 0;
}

nav > ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    margin: 0 20px;
    font-size: 1.5em;
}

a.navlinks {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

a.navlinks:link {
    color: #F7F5FB;
}

a.navlinks:visited {
    color: #F7F5FB
}

a.navlinks:hover {
    color:#747274;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1em;
    margin: 10px;
}


body {
    background-color: #747274;
    color: #F7F5FB;
    font-family: "Roboto Mono";
    font-size: 18px;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skillh2 {
    text-align: center;
}

h2 {
    font-size: 2em;
}

.bulletlist {
    list-style-type: square;
    line-height: 1.5;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #011627;
    padding: 15px 0 10px 0;
}

.footerimg:hover {
    transform: scale(1.2);
}
